
#firsttext{
  margin-bottom: 100px;
}

/*div containing research content*/
#researchbox {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom:50px;
  background-color:#f5f5f5;
  top: 0px;
  width:100%;
  height: 10%;
}

/*div containing data sources content*/
#datasourcesbox {
  padding-top: 60px;
  padding-bottom:30px;
}


.bodytext1{
  margin-bottom: 25px;
}

/*making the bullets of the list bigger and green*/
.list li::before, .datasourcelist li::before {
  content: "\2022";  /* \2022 is the CSS Code/unicode for a bullet */
  color: #68c394;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  width: 0.1em;
  margin-left: -0.8em;
  margin-top:-0.3em;
  position: absolute;
}

.list li, .datasourcelist li{
 margin-bottom: 15px;
}

 .list, .datasourcelist{
  margin-left: 24%;
  margin-right: 24%;
  position: relative;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 12pt;
  list-style-type:none;
  margin-bottom: 100px;
  z-index: 1;
}

.datasourcelist {
  margin-bottom: 60px;
}


.listheader{
  margin-left: 25.5%;/*to align the header with the start of the bullets*/
  margin-right: 24%;
  font-weight:lighter;
  letter-spacing: 1px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 15pt;
  margin-top:5%;
}
