
.event {
  background-color: #F5F5F5;
  border:none;
  align-self: center;
  position: relative;
}

img {
  position: absolute;
  margin-left: 0;
  height:100%;
  width: 25%;


}

.eventstitle {
  margin-left: 30%;
  font-weight:bolder;
  padding-top: 2%;
}

.eventcontent {
  padding-bottom: 5%;
  margin-left: 30%;
}

#wrapper {
  position: relative;
  margin-left: 30%;
  margin-right: 10%;
  display: block;

}

.filterbox {
  position: absolute;
  margin-right: 5%;
}

.month {
  background-color: #F5F5F5;
  border: none;
  padding-top: 0.002%;
  padding-bottom: 0.002%;

}


.monthheader {
  margin-left: 5%;
  background-color: #F5F5F5;
}
