
.event {
  background-color: #F5F5F5;
  border:none;
  padding-left: 30px;
  align-self: center;
}

.eventstilte {
  margin-left: 5%;
  padding-top:5%;
  font-weight:bolder;
}

#wrapper {
  position: relative;
  margin-left: 20%;
  margin-right: 10%;
  display: block;

}

.filterbox {
  position: absolute;
  margin-left: 3%
}

.month {

}

.eventboxes {
  
}
