@media screen and (max-width: 768px){
  .navbar {
    position: absolute;
    overflow: hidden;
    top: 0;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    display: flex;
    justify-content: column;
  }

  .navbar a{

  }
}

@media screen and (min-width: 769px){
  .navbar {
    position: absolute;
    overflow: hidden;
    top: 0;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    display: flex;
    justify-content: space-between;

  }

}


#navwrap{
  position: relative;
  width:100%;
  display: block;
  height:80px;
  background:#f5f5f5;
  box-shadow: 0 0 10px 0 LightGray;
  position:fixed;
  top: 0;
  z-index:100;
}

.navbar a {
  color: #4f4f4f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 15px;
}

#homeButton{
  position: relative;
  display: block;
  background: url("../img/Logo.png") no-repeat center;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0;
}

img{
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
#searchBox{
    position: relative;
    background-color: #f5f5f5;
    display: block;
    width: 220px;
    margin: 18px;
    height: 40px;
    margin-right:0;

}

#searchButton{
  position: absolute;
  display: block;
  background: url("../img/søk.png") no-repeat center;
  border: none;
  width: 40px;
  height: 40px;
  right: 0;
  padding: 0;
  padding-right: 10px;

}

#searchText{
  position: absolute;
  background-color: #f5f5f5;
  float:right;
  width: 100px;
  border: none;
  padding: 0;
  padding-left: 30px;
  height: 40px;
  left: 0;
}
#footwrap{
  margin: 0 15% 0 15%;
  display: flex;
  height:300px;
  bottom: 0;
}

#footerImg{
  width: 60%;
  height: auto;
  display: block;
  margin: auto;
  margin-right: 5%;
}

.footerH{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight:lighter;
  font-size: 11pt;
  letter-spacing: 1px;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 7px;
}

.footerP{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight:lighter;
  font-size: 9pt;
  letter-spacing: 1px;
  line-height: 1;
  margin-left: 10%;
  margin-bottom: 0;
  margin-top: 5px;
}

#contactText{
  width: 70%;
  border-left: solid 2px #68c394;
  margin-top: auto;
  margin-bottom: auto;
  height:auto;
}
