/*Header*/
.white{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#f5f5f5;
    top: 100px;
    width:100%;
    height: 250px;
    margin-bottom: 155px;
    position: relative;
}

#header{
    margin-left: 220px;
}

.headerbox2{
    position: relative;
    width: 100%;
    height: 215px;
    left: 0px;
    top: 100px;
    background-color: #f5f5f5;
}

/*Search*/

.searchField{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    height: 50px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
}

#searchBoxNews{
    position: relative;
    width: 100%;
   /*top: 55px;*/
}

#search{
    position: absolute;
    background-color: #f5f5f5;
    border: none;
    margin-left: 2%; /*Hvordan få til dette uten at select-omrisset også starter etter 2%?*/
    width: 98%;
    height: 50px;
    display: block;
}

#searchButton{
    position: absolute;
    display: block;
    background-color: #f5f5f5;
    border: none;
    width: 40px;
    height: 40px;
    margin: 7px; /*her må det fikses noe - img. er litt facka*/
    right: 0;
}

#searchButton img{ /*her må det også gjøres noe så img. havner midt i søkefeltet*/
    position: relative;
    width: 20px;
    height: 20px;
}

/*Main content*/

#newsContent{
    /*flex*/
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    height: 400px;
    /*Other shit*/
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f5f5f5;
    /*height: 100%*/
}

    /*Three main parts of content*/

    /*Links at top*/
    #links{
        padding: 2px;
        width: 50%;
    }


        #sites{
            /*position of this box*/
        }

        #yearsInner{
        }

        .year:hover{
            color: #68c394
        }


    /*main content*/
    #mainContent{
        padding: 2px;

    }

    /*Filter*/
    #filter{
        padding: 2px;
        width: 50%
    }