/*fonts*/
#header {
    font-family: "Crimson Text", serif;
    font-size: 45pt;
    font-variant: normal;
    font-weight: 100;
    margin: 0;
}

.subheader1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight:lighter;
    font-size: 24pt;
    letter-spacing: 1px;
    margin: 0;
}

.subheader2 {
    font-family: futura, "Trebuchet MS", Arial, sans-serif;
    font-weight:lighter;
    font-size: 18pt;
    letter-spacing: 1px;
    margin: 0;
}

.bodytext1 {
    font-family: futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: lighter;
    font-size: 12pt;
    margin: 0;
} /*det er denne endringen som gjør at menu-baren blir så rar*/

.bodytext2 {
    font-family: futura, "Trebuchet MS", Arial, sans-serif;
    font-weight:lighter;
    font-size: 14pt;
    margin: 0;
}

/*Header*/

.white{
    background-color:#f5f5f5;
    height: 215px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}

#headText{
    margin-left: 15%;
    margin-right: 15%;
}

.headerbox2{
    position: relative;
    width: 100%;
    height: 215px;
    left: 0px;
    top: 100px;
    background-color: #f5f5f5;
}

/*Search*/

.searchField{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    height: 50px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    min-width: 475px;
}

#searchBoxNews{
    position: relative;
    width: 100%;
}

#srcText{
    position: absolute;
    background-color: #f5f5f5;
    border: none;
    margin-left: 2%; /*Hvordan få til dette uten at select-omrisset også starter etter 2%?*/
    width: 98%;
    height: 50px;
    /*display: block;*/
    padding: 0;
    border: none;
    outline: none;
    color: #4f4f4f;
}

#searchButtonNews{
    position: absolute;
    display: block;
    background-color: #f5f5f5;
    border: none;
    width: 40px;
    height: 40px;
    margin: 7px; /*her må det fikses noe - img. er litt facka*/
    right: 0;
}

#searchButtonNews img{ /*her må det også gjøres noe så img. havner midt i søkefeltet*/
    position: relative;
    width: 20px;
    height: 20px;
}

/*Main content*/


#newsContent{
    /*flex*/
    display: flex;
    /*flex-wrap: wrap-reverse;*/
    flex-direction: row;
    /*Other shit*/
    margin-left: 15%;
    margin-right: 15%;
    background-color: #EAF1EF;
    height: 100%
}

    /*Filter*/
    .filter{
        width: 18%;
        /*background-color: rgb(198, 238, 227);*/
        /*flexing*/
        display: flex;
        flex-direction: column;
        margin-right: 0;
        align-self: flex-start;
        position: -webkit-sticky;
        position: sticky;
        top: 132px;

    }

        .filterBox{

        }

        .filterLink{
        }

        div.filter * {
            color: #8d8d8d;
            margin-bottom: 5px;
        }

    /*Two main parts of content*/
    #mainShit{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        width: 100%;
    }

        /*Links at top*/
        #links{
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
        }
            /*Sites*/
            #sites{
                display: flex;
                flex-direction: row;
                margin-right:auto;
            }

                #eventLink,#publicationLink{
                    /*margin-right: 30px;*/
                }

                .newsLink{
                    color: #4f4f4f;
                    margin-bottom: -2px;
                    margin-right: 30px;
                    cursor: pointer;
                }

                    /*pseudo*/
                    .newsLink:hover{
                        border-bottom: 2px solid #68c394;
                    }

            /*Years*/
            #yearsInner{
                display: flex;
                flex-direction: row;
                margin-right: 20px;
            }

                .year{
                    color: #8d8d8d;
                    margin-left: 15px;
                    cursor: pointer;
                }

                    /*pseudo*/
                    .year:hover{
                        color: #4f4f4f;
                    }
                    .year:active{
                        color: #4f4f4f;
                    }


    /*main content*/
    #mainContent{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-right: 55px;
    }

        /*dropdowns*/
        .dropdown{
            margin-bottom: 25px;

            display: flex;
            flex-direction: row;
            align-content: center;

            cursor: pointer;
            border: none;
            outline: none;

            background-color: #f5f5f5;
            color: #4f4f4f;
            height: 35px;

            padding: 0;
            margin-right: 0;
            margin-left: 0;
        }
                /*pseudo*/
                .dropdown:hover{
                    color: #68c394;
                }

                .dropdown:after{
                    content: "\002B";
                    margin-right: 15px;
                    align-self: center;

                }

                .active:after{
                    content: "\2212";
                }

            /*nested*/

            .dropCont{
                display: flex;
                flex-direction: column;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s linear;
            }

            .monthName{
                margin-left: 20px;
                margin-right: auto;
            }

            .dropSymbol{
                margin-right: 15px;
                margin-left: auto;
            }

        /*articles*/
        .newsArticle{
            margin-right: 5%;
            background-color: #f5f5f5;
            height: 200px;
            margin-bottom: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
        }

            /*content*/
            .newsArticle.p{
                width: 50px;
            }

                .aImg{
                    width: 50%;
                    height: 100%;
                }
                /*textBox*/
                .aTextBox{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                }
                    /*labels*/
                    .newsLabels{
                        display: flex;
                        margin-top: 15px;
                        margin-left: 10%;
                        margin-right: 10%;
                        justify-content: space-between;
                        color: #8d8d8d;
                        margin-bottom: 20px;
                    }

                    /*title*/
                    .articleTitle{
                        margin-left: 7%;
                        margin-right: 7%;
                        border-bottom: 1px solid #8d8d8d;
                        margin-bottom: 20px;
                    }

                    .articleTitle * {
                        margin-left: 3%;
                    }

                    .aText{
                        margin-left: 10%;
                        margin-right: 10%;
                        margin-bottom: 20px;
                        /*overflow: hidden;*/
                    }
