#slide-container{
  width: 700px;
  height:500px;
  margin-left:auto;
  margin-right:auto;
  overflow: auto;
  background:linear-gradient(transparent);



}

.divcontainer {
  width: 100%;
  height:400px;
  display:flex;
  transition: left 2s;
/* -webkit-transition:left 2s;
  -moz-transition: left 2s;*/
  padding: 10px;
  white-space: nowrap;
}

.slider-image{
  max-width: 400px;
  height: 450px;
}

.slider-image p{
  width: 100%;
  margin:0px;
  padding:0px;
}
