* {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (max-width: 940px) {
}

@media (min-width: 940px) {
}

body {
  background-color: #eaf1ef;
  color: #4f4f4f;
  margin-left: 200px;
  margin-right: 200px;
}

.whitebox{
  background-color: #f5f5f5; /*den lyseste gråfargen*/
}

a{
  color: #4f4f4f;
}

a:hover {
    color: #68c394;
    text-decoration:underline;
  }

a:active{
    text-decoration: underline;
    color:#68c394;
  }

#header {
  font-family: "Crimson Text", serif;
  font-size: 45pt;
  font-variant: normal;
  font-weight: 50;
}

.subheader1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: medium;
  font-size: 36pt;
}

.subheader2 {
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-style: medium;
  font-size: 26pt;
  letter-spacing: 10%;
}

.bodytext1 {
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-style: medium;
  font-size: 16pt;
}

.bodytext2 {
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-style: medium;
  font-size: 14pt;
}

.menu {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 1px;
  top: 0px;

  background: #F5F5F5;
  box-shadow: 0px 2px 20px rgba(188, 188, 188, 0.25);
  backdrop-filter: blur(30px);
}
