@import url("menu.css");

@media (max-width: 940px) {
}

@media (min-width: 940px) {
}

#headerbox{
  padding-top: 40px;
  padding-bottom: 20px;
  background-color:#f5f5f5;
  top: 0px;
  width:100%;
  height: 10%;
}


body {
  background-color: #eaf1ef;
  color: #4f4f4f;
  margin: 0;
  width:100%;
}


a{
  color: #4f4f4f;
}

a:hover {
    color: #68c394;
    text-decoration:underline;
  }

a:active{
    text-decoration: underline;
    color:#68c394;
  }

#header {
  margin-top: 100px;
  font-family: "Crimson Text", serif;
  font-size: 45pt;
  font-variant: normal;
  font-weight: 100;
  margin-left: 15%;
  margin-right: 15%;
}

.subheader1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight:lighter;
  font-size: 26pt;
  letter-spacing: 1px;
  margin-left: 15%;
  margin-right: 15%;
}

.subheader2 {
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-weight:lighter;
  font-size: 18pt;
  letter-spacing: 1px;
  margin-left: 15%;
  margin-right: 15%;
}

.bodytext1 {
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-weight:lighter;
  font-size: 12pt;
  margin-left: 15%;
  margin-right: 15%;
}

.bodytext2 {
  font-family: futura, "Trebuchet MS", Arial, sans-serif;
  font-weight:lighter;
  font-size: 14pt;
  margin-left: 15%;
  margin-right: 15%;
}
